.gradient-border {
  position: relative;
  /* background: linear-gradient(
    168deg,
    #ff4593 0%,
    #ffe713 33%,
    #17d7ff 66%,
    #17d7ff 100%
  );
  z-index: 1; */
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;
  padding: 1px;
  background: linear-gradient(
    168deg,
    #ff4593 0%,
    #ffe713 33%,
    #17d7ff 66%,
    #17d7ff 100%
  );
  -webkit-mask: linear-gradient(
        168deg,
        #ff4593 0%,
        #ffe713 33%,
        #17d7ff 66%,
        #17d7ff 100%
      )
      content-box,
    linear-gradient(168deg, #ff4593 0%, #ffe713 33%, #17d7ff 66%, #17d7ff 100%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.otpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.otpInputs {
  width: 50px !important;
  max-width: 50px !important;
  height: 70px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
}

.otpInputs:focus {
  border-color: #ff9501;
}

@media screen and (max-width: 767px) {
  .otpContainer {
    gap: 12px;
  }

  .otpInputs {
    width: 36px !important;
    max-width: 36px !important;
    height: 40px;
  }
}
